body {
   background: #0221ad;
    font-family: Helvetica, sans-serif;
    margin: 0;
    font-size: 16px;
}

header {
    background-color: #ffff;
    color: #0221ad;
    text-align: center;
    padding: 10px;
}

h1 {
    margin: 0
}

div {
   background-color: #ffff;
   margin: 10px;
   border-radius: 10px;
   padding: 10px;
   text-align: center;
   font-weight: bold;
}

section {
    max-width: 530px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 10px;
    background-color: #1fc3e0;
    border-radius: 10px;
}